.header-container{
    display: flex;
    justify-content:space-between;
    max-height: 100px;
    width: 95%;
    padding: 20px 0px;
    margin: auto;
    font-weight: 700;

}
.row-container{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}
.icon-box{
    position: relative;
    width: 10px;    
    margin-left: 50px;
    margin-right: 20px;
    font-weight: 100;
    cursor: pointer;
}
.badge-view{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: #fff;
    /* color: #fff; */
    position: absolute;
    top: -5px;
    right: -2px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    font-weight: 300;


}